/* No mostramos imagenes ni videos */
img:not(.iDevice_icon), picture, video, #player {
    display:none !important;
}

img.iDevice_icon{
    visibility: hidden !important;
}


* {
    background-image: none !important;
}
